<% redirect '/' unless session[:logged_in] %>
<%= erb :header %>


<!-- WEBSITE ARTICLES -->
<div id="maincontent">
  <article id="form">

    <% if @submitted == true then%>
        <h1>Campaign (<%=h params[:name] %>) was submitted successfully!</h1>
        <p><a href="show_campaigns" alt="Show our campaigns">View all campaigns.</a> OR... create a new
        campaign below:</p>
    <% end %>
    <form action="/campaign" method="post" >
      <table>
        <tr>
          <td>Campaign Name: </td>
          <td><input type="text" size="20" name="name" /></td>
        </tr>

        <tr>
          <td>Description: </td>
          <td><input type="text" size="20" name="desc" /></td>
        </tr>

        <tr>
          <td>Keyword (hashtag): </td>
          <td><input type="text" size="20" name="keyword" /></td>
        </tr>

        <tr>
          <td><input id="sub_button" type="submit" value="Submit" /></td>
        </tr>

        <tr>
          <td colspan="2"><a href="/register">Not registered? Click here.</a></td>
        </tr>
      </table>
    </form>
  </article>
</div>


<%= erb :footer %>
