<% redirect '/' unless session[:logged_in] %>
<%= erb :header %>
<article id="form">
  <h1>My Direct Messages</h1>
  <table>
    <tr>
      <th>User</th>
      <th>Message</th>
    </tr>
    <% @direct_messages.each do |dm| %>
        <tr>
          <td></td>
          <td><%=h dm.text%></td>
        </tr>
    <% end %>
  </table>
</article>
<%= erb :footer %>