</section>

<!-- FOOTER SECTION OF  THE WEBSITE -->
<footer id="footer">
  <object class="left" data="images/logo.svg" type="image/svg+xml" width="150" height="150">
    <!-- Fallback image -->
    <img class="left" src="images/logo.jpg" alt="Image of a website template" />
  </object>
  <div class="left"> <!-- Copyright -->
    <p>&copy; 2014 RGB Design<br />
      Colorizing your ideas<br />
      All rights reserved.
    </p>
  </div>

  <div class="left">
    <p> <!-- Address -->
      RGB Design,<br/>
      42 Wallaby Way,<br/>
      Sydney,<br/>
      Australia.
    </p>
    <ul>
      <li><a href="index.html" alt="Home Page">Home</a></li>
      <li><a href="canvas.html" alt="Demo Page">Demo</a></li>
      <li><a href="news.html" alt="News Page">News</a></li>
      <li><a href="aboutUs.html" alt="About Us Page">About Us</a></li>
      <li><a href="contact.html" alt="Contact Page">Contact</a></li>
      <li><a href="accessibility.html" alt="Accessibility Page">Accessibility</a></li>
    </ul>
  </div>
  <div class="left">
    <p id="socials"> <!-- Social networks - could be links -->
      <img src="images/email.png" width="70" height="50" />
      <img src="images/facebook.png" width="50" height="50" />
      <img src="images/twitter.png" width="50" height="50" />
    </p>
  </div>
</footer>
</div>

</body>



</html>