</section>

<!-- footer part -->
<footer>
  <div class="left"> <!-- Copyright -->
    <p>&copy; 2015 TweetCamp<br />
      Campaigning your ideas<br />
      All rights reserved.
    </p>
  </div>

  <div class="left">
    <p> <!-- Address -->
      TweetCamp,<br/>
      42 Wallaby Way,<br/>
      Sydney,<br/>
      Australia.
    </p>
  </div>
  <div class="left">
    <p id="socials"> <!-- Social networks - could be links -->
      <img src="images/email.png" width="70" height="50" />
      <img src="images/facebook.png" width="50" height="50" />
      <img src="images/twitter.png" width="50" height="50" />
    </p>
  </div>
</footer>
</div>
</body>
</html>