<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="author" content="Matheus Gomes" />
  <title>RGB Design - Home Page</title>
  <link rel="stylesheet" href="normalize.css" /> <!-- normalize the elements -->
  <link rel="stylesheet" href="style.css" />

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
  </script>
  <![endif]-->

</head>


<body>

<div id="container" >
  <!--  HEADER OF THE WEBSITE -->
  <header id="header" >
    <div id="logo">
      <!-- Logo as an SVG -->
      <object data="images/logo.svg" type="image/svg+xml">
        <!-- Fallback image -->
        <img src="images/logo.png" alt="Image of a website template" />
      </object>
      <p>Colorizing Your Ideas</p>
    </div>

  </header>

  <!-- NAVIGATION OF THE WEBSITE -->
  <nav id="nav">
    <ul>
      <!-- main links -->
      <li><a href="index.html" accesskey="1">Home</a></li>
      <li><a href="canvas.html" accesskey="2">Demo</a></li>
      <li><a href="news.html" accesskey="3">News</a></li>
      <li><a href="aboutUs.html" accesskey="4">About Us</a></li>
      <li><a href="contact.html" accesskey="5">Contact</a></li>
      <li><a href="accessibility.html" accesskey="0">Accessibility</a></li>
    </ul>
  </nav>

  <!-- MAIN CONTENT OF THE WEBSITE -->
  <section id="main">
