<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="author" content="Matheus Gomes" />
  <title>RGB Design - Home Page</title>
  <link rel="stylesheet" href="normalize.css" /> <!-- normalize the elements -->
  <link rel="stylesheet" href="style.css" />

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
  </script>
  <![endif]-->

</head>


<body>
<div id="container">

  <header>
    <nav id="links">
      <%= erb :user_control %>
      <ul>
        <li><a href="/">Home</a></li>
        <li>Link1</li>
        <li>Link2</li>
        <li>Link3</li>
      </ul>
    </nav>
    <div id="logo">
      <img alt="Our b-eautiful logo!" src="images/logo.png" />
    </div>
  </header>

  <!-- End of header -->

  <!-- Dynamic content -->
  <section id="main">