<% redirect '/' unless session[:logged_in] %>
<%= erb :header %>
<article id="form">
  <h1>Welcome Back! Search for something...</h1>
  <form action="do_search" method="get">
    <p>
      Search for a term: <input name="search" value="Type Something" />
      <input id="sub_button" type="submit" value="Search" /><br />
      Save to search history: <input type="checkbox" name="save_search" />
    </p>
  </form>

  <h1>Tweet Something:</h1>
  <div id=tweetbox>
    <textarea id="tweet" name="tweet" maxlength="140" onKeyUp="textCounter(document.getElementById('tweet'), document.getElementById('counter'), 140)"></textarea>
    <div id="insidebox"><p id="counter">140 Characters remaining</p></div>
  </div>
  <input class="sub_button center" type="submit" value="Tweet" />
</article>

<!-- CHANGE THIS SHIT, put in a js file -->
<script type="text/javascript" language="Javascript">
    function textCounter(field, countfield, maxlimit) {

        if (countfield != null) {
            countfield.innerHTML = maxlimit - field.value.length + " Characters remaining";
        }
        else{
            field.value = field.value.substring(0, maxlimit) + " Characters remaining";
        }

    }

</script>

<%= erb :footer %>