<%= erb :header %>


<!-- WEBSITE ARTICLES -->
<div id="maincontent">
<article id="form">
  <form action="login_validate" name="form" method="post" >
    <table>
      <tr>
        <td>Username: </td>
        <td><input type="text" size="20" id="username" name="username" /></td>
      </tr>

      <tr>
        <td>Password: </td>
        <td><input type="password" id="password" size="20" name="password" /></td>
      </tr>

      <tr>
        <td><input id="sub_button" name="submit" type="submit" value="Submit" /></td>
      </tr>

      <tr>
        <td colspan="2"><a href="/register">Not registered? Click here.</a></td>
      </tr>
    </table>
  </form>
</article>
</div>


<%= erb :footer %>
