<!DOCTYPE html>

<html>
<head>
  <title>Login System - Register</title>
  <meta charset="utf-8" />
  <meta name="author" content="Matheus Gomes" />
</head>

<body>
<form action="register_validate" method="post" >
  <table>
    <tr>
      <td>Username:</td>
      <td><input type="text" size="20" name="username" /></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input type="password" size="20" name="password" /></td>
    </tr>
    <tr>
      <td>Confirm Password:</td>
      <td><input type="password" size="20" name="cPassword" /></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><input type="text" name="email" /></td>
    </tr>
    <tr>
      <td>Twitter Username:</td>
      <td><input type="text" name="twitter" /></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Submit" /></td>
    </tr>
  </table>
</form>
</body>
</html>