<%= erb :header %>

<article id="form">
  <h1>Register Your Account With Us</h1>
  <form action="register_validate" method="post" >
    <table>
      <tr>
        <td>Username:</td>
        <td><input type="text" size="20" name="username" /></td>
      </tr>
      <tr>
        <td>Password:</td>
        <td><input type="password" size="20" name="password" /></td>
      </tr>
      <tr>
        <td>Confirm Password:</td>
        <td><input type="password" size="20" name="cPassword" /></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><input type="text" name="email" /></td>
      </tr>
      <tr>
        <td>Twitter Username:</td>
        <td><input type="text" name="twitter" /></td>
      </tr>
      <tr>
        <td colspan="2"><input id="sub_button" type="submit" value="Submit" /></td>
      </tr>
    </table>
  </form>
</article>

<%= erb :footer %>
