<%= erb :header %>


<!-- WEBSITE ARTICLES -->


<article id="featured">
    <div>
      <form action="/" method="GET">
         Search for: <br />
         <input type="text" name="search" value="Type here" />
         <input type="submit" name="submit" />
      </form>
    </div>
</article>

<div class="clear"></div>


<%= erb :footer %>
