<!DOCTYPE html>

<html>
    <head>
      <title>Login System</title>
      <meta charset="utf-8" />
      <meta name="author" content="Matheus Gomes" />
    </head>

    <body>
        <p>Hello World!</p>
        <table>
          <tr>
            <th>Username: </th>
            <th>Password: </th>
          </tr>
          <% @user_array.each do |user| %>
          <tr>
            <td><%= user[1] %></td>
            <td><%= user[2] %></td>
          </tr>
          <% end %>
        </table>
    </body>
</html>