<%= erb :header %>
<!DOCTYPE html>

<html>
<head>
  <title>Login System</title>
  <meta charset="utf-8" />
  <meta name="author" content="Matheus Gomes" />
</head>

<body>
<div id="denied"><p>Error: <%= @error %></p></div>
</body>
</html>

<%= erb :footer %>