/* Core css stuff - dont change */
body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

div#container {
    width: 1000px;
    min-height: 100%;
    margin: 0 auto;
    border: 2px solid #333;
    position: relative;
}

/* Header stuff - including logo */

header {
    width: 100%;
    min-height: 150px;
    overflow: auto;
}

header div#logo {
    width: 500px;
    margin: 20px auto; /* center init */
    overflow: auto;
    margin-top: 150px;

}

header div#logo img {
    width: 500px;
    height: auto;
}

nav {
    height: 50px;
    background: #333;
    border-bottom: 2px solid #666;
    position: relative;



}
nav ul{
    position: absolute;
    right: 0px;
    margin: 0 50px 0 0;
    padding: 0px;
    height: 100%;
    list-style-type: none;  /*Remove the list decoration*/

}

nav ul#userMenu {
    position: absolute;
    left: 0;
    padding-top: 10px;
    font-size: 20px;

}

nav ul li{
    display: inline;
    margin-top: 15px;
    color: #FFF;
    font-size: .8em;
    border-left: 2px solid #FFF;
    padding: 0 20px;

}

nav ul li a:link, nav ul li a:visited,
nav ul li a:hover, nav ul li a:active{  /*Properties for the nav links*/
    height: 100%;
    vertical-align: middle;
    color: #FFF;
    text-decoration: none; /*remove underline */


}

nav ul li:first-child{
    padding-left: 0px;
    border-left: 0px; /*Remove left border of first list element*/
    margin: 0px;

}

nav ul li:last-child{ /*No padding on last list item*/
    padding-right: 0px;
}

div #navbuttons {
    padding-top: 10px;
    font-size: 20px;
}

/* Website content stuff */

div#maincontent {
    margin-top: 10px;
    /* padding-top: 500px; */
}

section#main a:link,
section#main a:visited,
section#main a:active,
section#main a:hover{
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

/* Very important don't remove */
section#main {
    padding-bottom: 150px;
}

section#main article {
    background: white;
    width: 500px;
    margin: 0 auto;
}

section#main article#form table {
    margin: 0 auto;
}

section#main article#form table td{
    padding: 10px;
}

input#sub_button, input.sub_button{
    height: 30px;
    background: #333;
    color: #EEE;
    border: 2px solid #FFF;
}

/* Rebecca and andreea's stuff */
div#stat_table{
    margin: 0 auto;
    width: 600px;
}

div#stat_table  th, div#stat_table td{
    width:200px;
    text-align: center;
}

div#campaign_stat_title {
    text-align: center;
}

div#follow_table th, div#follow_table td{
    width: 200px;
    text-align: center;
}

div#show_table th, div#show_table td{
    width: 200px;
    text-align: center;
}

div#search_table th, div#search_table td{
    width: 200px;
    text-align: center;
}

/* Delete button for campaigns */

.delete-button{
    height: 30px;
    width: 30px;
    border: none;
    background: url('images/delete.png') no-repeat;
    background-size: 30px 30px;
}


/* TWEET BOX BIT */

div#tweetbox {
    position: relative;
    height: 75px;
    width: 500px;
    margin: 5px;
    border-color: #333;
}

div#tweetbox textarea{
    width: 100%;
    height: 100%;
    position: absolute;
    resize: none;
    padding: 0;
    margind: 0;
}

div#tweetbox div#insidebox{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
}

div#tweetbox div#insidebox p{
    color: #fff;
    font-size: .7em;
    background: #333;
    margin: 0;
    padding: 2px;
}


/* Footer */
footer{
    position: absolute;
    bottom: 0; /* ALWAYS on the bottom of the page */
    width: 100%;
    height: 150px;
    color: #FFF;
    background-color: #000;
}

footer div{
    display: table; /* display as table to vertically align cells */
    width: 28%;
    height: 150px;
}

footer div p, footer div ul{
    display: table-cell; /* behave as a cell */
    height: 100%;
    vertical-align: middle; /* cell atribute to vertically align */
}

footer div ul{
    list-style-type: none; /*remove list decoration */
}

footer a:link, footer a:hover,
footer a:active, footer a:visited{ /* Properties for footer links */
    color: #FFF;
    text-decoration: none;
}

footer div p#socials{ /* Push social network items to the far right */
    text-align: right;
}

/* GENERAL PURPOSE STUFF */
.right{
    float: right;
}
.left{
    margin-left: 20px;
    float: left;
}

.center{
    display: block;
    margin: 0 auto;
}
.clear{
    clear: both;
}

h1, h2, h3, h4, h5, h6{
    clear: both;
}

.bold{
    font-weight: bold;
}
