/* Core css stuff - dont change */
body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

div#container {
    width: 1000px;
    min-height: 100%;
    margin: 0 auto;
    border: 2px solid #333;
    position: relative;
}

/* Header stuff - including logo */

header {
    width: 100%;
    min-height: 150px;
    overflow: auto;
}

header div#logo {
    width: 500px;
    margin: 20px auto; /* center init */
    overflow: auto;
}

header div#logo img {
    width: 500px;
    height: auto;
}

nav {
    height: 50px;
    background: #333;
    border-bottom: 2px solid #666;
    text-align: center;
}
nav ul{
    margin: 0px;
    padding: 0px;
    height: 100%;
    list-style-type: none;  /*Remove the list decoration*/
}

nav ul li{
    display: inline-block;
    height: 100%;
    color: #FFF;
    font-size: 1.9em;
    border-left: 2px solid #FFF;
    padding: 0 20px;
    vertical-align: middle;
}

nav ul li a:link, nav ul li a:visited,
nav ul li a:hover, nav ul li a:active{  /*Properties for the nav links*/
    height: 100%;
    vertical-align: middle;
    color: #FFF;
    text-decoration: none; /*remove underline */
}

nav ul li:first-child{
    padding-left: 0px;
    border-left: 0px; /*Remove left border of first list element*/
    margin: 0px;
}

nav ul li:last-child{ /*No padding on last list item*/
    padding-right: 0px;
}


/* Website content stuff */

section#main a:link,
section#main a:visited,
section#main a:active,
section#main a:hover{
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

section#main article {
    background: #EEE;
    width: 500px;
    margin: 0 auto;
}

section#main article#form table {
    margin: 0 auto;
}
article#form input#sub_button{
    display: block;
    height: 30px;
    background: #333;
    color: #EEE;
    border: 2px solid #FFF;
}

/* Footer */
footer {
    position: absolute;
    bottom: 0;
    height: 150px;
    width: 100%;
    background: #000;
}